/* || RESETS */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* || UTILITY STYLES */
.center {
   text-align: center;
}

.nowrap {
   white-space: nowrap;
}

/* || VARIABLES */
:root {
   /* fonts */
   --FF: 'Inter', sans-serif;
   --FONTSIZE: clamp(1.2rem, 1.5vh, 1.8rem);
   /* colors */
   --BGDARK-COLOR: #0D1B2A;
   --BGLIGHT-COLOR: #F2E9E4;
   --TEXTLIGHT-COLOR: #E0E1DD;
   --TEXTDARK-COLOR: #0D1B2A;
   --TOGGLEDARK-HEIGHT: 15px;
}

body {
   font-size: var(--FONTSIZE);
}

.nav {
   display: flex;
   justify-content: flex-end;
   
}

.nav__div {
   height: 80px;
   padding: 0 1.5rem;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 5rem;
   position: fixed;
   top: 0;
   z-index: 2;
}

.nav__social-links {
   font-size: 1.75rem;
   display: flex;
   flex-flow: row;
   gap: 2rem;
}

.nav__page-links {
   display: flex;
   flex-flow: row;
   gap: 1rem;
   align-items: center;
}

.landing__image-div {
   height: 100vh;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
}

.landing__image {
   max-width: 40%;
   border-radius: 50%;
   margin-bottom: 0.5rem;
}

caption {
   margin-bottom: 2rem;
}

.contact__form{
   width: 100%;
   display: grid;
   place-items: center;
}

.contact__form-field{
   width: 60%;
}

@media screen and (max-width: 576px) {
   .nav__div {
      width: 100%;
      gap: 1rem;
   }
   .fa-twitter {
      display: none;
   }
   .nav__page-links, .nav__social-links {
      gap: 0.5rem;
   }
   .contact__form-field{
      width: 90%;
   }
}